In [1]:
#EXPLORATION DATAFRAME AFFILIATION

In [ ]:
#riporta tutto il codice sul quaderno covid_analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
#p1=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/covid_affiliations_p1.csv",converters={'Affiliations': eval})

In [3]:
p1=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/covid_completo.csv",converters={'Affiliations': eval})
p1

,Unnamed: 0,id,Affiliations,Abstract,Date
0,0,33906236,"[Institute of Virology, Medical Faculty, Unive...",The SARS-CoV-2 pandemic has led to the develop...,"[DictElement({'Year': '2021', 'Month': '03', '..."
1,1,33906227,"[Brigham and Women's Hospital, Harvard Medical...",Both SARS-CoV-2 reinfection and persistent inf...,"[DictElement({'Year': '2021', 'Month': '02', '..."
2,2,33906143,[Servicio de Prevención y Control de Infeccion...,The COVID-19 pandemic has had an impact on pub...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
3,3,33906142,[Sección Fisiopatología Respiratoria y Laborat...,The airborne spread is the main route of human...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
4,4,33906130,"[Unidad Febril de Urgencias, Hospital de Infec...",Febrile Emergency Units were annexed to tertia...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
...,...,...,...,...,...
77149,77149,33665649,"[Institute of Medical Virology, Justus Liebig ...",Hospitals and rehabilitation centers around th...,"[DictElement({'Year': '2021', 'Month': '3', 'D..."
77150,77150,32655062,"[Department of Cell Biology, The Johns Hopkins...",['no_abstr'],"[DictElement({'Year': '2020', 'Month': '7', 'D..."
77151,77151,30918070,[2],Coronavirus nonstructural protein 8 (nsp8) has...,"[DictElement({'Year': '2019', 'Month': '02', '..."
77152,77152,30867314,[2],Coronaviruses (CoVs) assemble by budding into ...,"[DictElement({'Year': '2019', 'Month': '01', '..."
77153,77153,32564574,"[The Capital Institute of Pediatrics, Beijing ...",['no_abstr'],"[DictElement({'Year': '2020', 'Month': '6', 'D..."

In [4]:
p1=p1.drop('Unnamed: 0',axis=1)

In [5]:
p1

,id,Affiliations,Abstract,Date
0,33906236,"[Institute of Virology, Medical Faculty, Unive...",The SARS-CoV-2 pandemic has led to the develop...,"[DictElement({'Year': '2021', 'Month': '03', '..."
1,33906227,"[Brigham and Women's Hospital, Harvard Medical...",Both SARS-CoV-2 reinfection and persistent inf...,"[DictElement({'Year': '2021', 'Month': '02', '..."
2,33906143,[Servicio de Prevención y Control de Infeccion...,The COVID-19 pandemic has had an impact on pub...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
3,33906142,[Sección Fisiopatología Respiratoria y Laborat...,The airborne spread is the main route of human...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
4,33906130,"[Unidad Febril de Urgencias, Hospital de Infec...",Febrile Emergency Units were annexed to tertia...,"[DictElement({'Year': '2021', 'Month': '4', 'D..."
...,...,...,...,...
77149,33665649,"[Institute of Medical Virology, Justus Liebig ...",Hospitals and rehabilitation centers around th...,"[DictElement({'Year': '2021', 'Month': '3', 'D..."
77150,32655062,"[Department of Cell Biology, The Johns Hopkins...",['no_abstr'],"[DictElement({'Year': '2020', 'Month': '7', 'D..."
77151,30918070,[2],Coronavirus nonstructural protein 8 (nsp8) has...,"[DictElement({'Year': '2019', 'Month': '02', '..."
77152,30867314,[2],Coronaviruses (CoVs) assemble by budding into ...,"[DictElement({'Year': '2019', 'Month': '01', '..."
77153,32564574,"[The Capital Institute of Pediatrics, Beijing ...",['no_abstr'],"[DictElement({'Year': '2020', 'Month': '6', 'D..."

In [6]:
#step successivi di lavoro:

#elimina bad request e no_aff dopo aver visto quanti sono
#valuta se tenere solo primo e ultimo (di solito primo è chi ha trainato il progetto, ultimo è chi paga)
#lista dei countries in python
#splitta per virgola i valori dentro le listine e valuta in quante l'ultimo valore è il nome della nazione e in quante no
#se la percentuale è buona, puoi anche pensare di escludere gli altri per velocizzare il lavoro oppure prova a risalire alla nazione 

#indice di peso dei paesi: 
    #se tieni primo e ultimo fai anche 0.5 e 0.5
    #se tieni tutti magari dai 40 al primo, 40 all'ultimo e 20 ripartito tra gli altri
    # il totale per lista deve essere comunque 1
    # effettui somma per paese ed ottieni un float/indice che ci indica chi ha partecipato di più alle pub

In [8]:
#filtro i valori non utili con no_aff, bad request o valori con solo il contatore

indexes=[]
ind=-1

for li in p1['Affiliations'].tolist():
    ind+=1
    if len(li)==1:
        #print(li)
        indexes.append(ind)
print(len(indexes))

for index,row in p1.iterrows():
    if index in indexes:
        p1.drop(index,inplace=True)
len(p1)

4354

72800

In [10]:
type(p1['Date'][8][23:27]) #possibilità di lavorare con data. Nel caso sistema faccenda import

str

In [11]:
#checking delle date

indice=[]
for index,row in p1.iterrows():
    if row['Date'][23:27] != '2020' and row['Date'][23:27] != '2021':
        indice.append(index)
len(indice)
#319 ma tutto ok

319

In [12]:
p1['Affiliations'][4]

['Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina.',
 'Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina.',
 'Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina.',
 'Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina.',
 'Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina. E-mail: jl_franc@hotmail.com.',
 'Unidad Febril de Urgencias, Hospital de Infecciosas Francisco Javier Muñiz, Buenos Aires, Argentina.',
 6]

In [13]:
#si decide di assegnare punteggio ai paesi che compaiono per l'autore principale e per l'autore che ha finanziato

In [14]:
first_last=[]
for index,row in p1.iterrows():
    listina=[]
    if len(row['Affiliations'])==2:
        listina.append(row['Affiliations'][0]) #se abbiamo solo una aff, la appendo due volte, sotto l'hp
        listina.append(row['Affiliations'][0])# che chi fnananzia e chi è attore principlae sia lo stesso
    else:
        listina.append(row['Affiliations'][0])
        listina.append(row['Affiliations'][-2])
    first_last.append(listina)
#print(len(first_last))
#print(first_last)
p1['first_last']=first_last
p1

,Affiliations,Date,first_last
0,"[Institute of Virology, Medical Faculty, Unive...","[DictElement({'Year': '2021', 'Month': '03', '...","[Institute of Virology, Medical Faculty, Unive..."
1,"[Brigham and Women's Hospital, Harvard Medical...","[DictElement({'Year': '2021', 'Month': '02', '...","[Brigham and Women's Hospital, Harvard Medical..."
2,[Servicio de Prevención y Control de Infeccion...,"[DictElement({'Year': '2021', 'Month': '4', 'D...",[Servicio de Prevención y Control de Infeccion...
3,[Sección Fisiopatología Respiratoria y Laborat...,"[DictElement({'Year': '2021', 'Month': '4', 'D...",[Sección Fisiopatología Respiratoria y Laborat...
4,"[Unidad Febril de Urgencias, Hospital de Infec...","[DictElement({'Year': '2021', 'Month': '4', 'D...","[Unidad Febril de Urgencias, Hospital de Infec..."
...,...,...,...
72795,[The University of Texas MD Anderson Cancer Ce...,"[DictElement({'Year': '2021', 'Month': '3', 'D...",[The University of Texas MD Anderson Cancer Ce...
72796,"[Department of Hygiene and Medical Ecology, Fa...","[DictElement({'Year': '2021', 'Month': '3', 'D...","[Department of Hygiene and Medical Ecology, Fa..."
72797,"[Institute of Medical Virology, Justus Liebig ...","[DictElement({'Year': '2021', 'Month': '3', 'D...","[Institute of Medical Virology, Justus Liebig ..."
72798,"[Department of Cell Biology, The Johns Hopkins...","[DictElement({'Year': '2020', 'Month': '7', 'D...","[Department of Cell Biology, The Johns Hopkins..."
72799,"[The Capital Institute of Pediatrics, Beijing ...","[DictElement({'Year': '2020', 'Month': '6', 'D...","[The Capital Institute of Pediatrics, Beijing ..."

In [15]:
#a questo punto estraiamo il paese o la regione d riferimento

In [16]:
country_fl=[]
for index,row in p1.iterrows():
    aus=[]
    count=-1
    for aff in row['first_last']:
        count+=1
        spl=row['first_last'][count].split(",")[-1]
        clean=spl.translate({ord('.'): None})
        clean=clean.translate({ord(';'): None})
        try:
            if clean[0]== " " :   #eviti problemi di eliminazione di paesi giusti
                clean=clean[1:]
                aus.append(clean)
            else:
                aus.append(clean)
        except IndexError:
            clean=clean[1:]
            aus.append(clean)
    country_fl.append(aus)
p1['Countries_FL'] = country_fl
p1

,Affiliations,Date,first_last,Countries_FL
0,"[Institute of Virology, Medical Faculty, Unive...","[DictElement({'Year': '2021', 'Month': '03', '...","[Institute of Virology, Medical Faculty, Unive...","[Germany, Germany]"
1,"[Brigham and Women's Hospital, Harvard Medical...","[DictElement({'Year': '2021', 'Month': '02', '...","[Brigham and Women's Hospital, Harvard Medical...","[USA, USA]"
2,[Servicio de Prevención y Control de Infeccion...,"[DictElement({'Year': '2021', 'Month': '4', 'D...",[Servicio de Prevención y Control de Infeccion...,"[Argentina E-mail: wandacornistein@gmailcom, A..."
3,[Sección Fisiopatología Respiratoria y Laborat...,"[DictElement({'Year': '2021', 'Month': '4', 'D...",[Sección Fisiopatología Respiratoria y Laborat...,[Argentina E-mail: juanjosemoncalvo@hotmailcom...
4,"[Unidad Febril de Urgencias, Hospital de Infec...","[DictElement({'Year': '2021', 'Month': '4', 'D...","[Unidad Febril de Urgencias, Hospital de Infec...","[Argentina, Argentina]"
...,...,...,...,...
72795,[The University of Texas MD Anderson Cancer Ce...,"[DictElement({'Year': '2021', 'Month': '3', 'D...",[The University of Texas MD Anderson Cancer Ce...,"[Texas, Texas]"
72796,"[Department of Hygiene and Medical Ecology, Fa...","[DictElement({'Year': '2021', 'Month': '3', 'D...","[Department of Hygiene and Medical Ecology, Fa...","[Serbia, United Kingdom]"
72797,"[Institute of Medical Virology, Justus Liebig ...","[DictElement({'Year': '2021', 'Month': '3', 'D...","[Institute of Medical Virology, Justus Liebig ...","[Germany, Germany johnziebuhr@viromeduni-giess..."
72798,"[Department of Cell Biology, The Johns Hopkins...","[DictElement({'Year': '2020', 'Month': '7', 'D...","[Department of Cell Biology, The Johns Hopkins...","[USA, USA machamer@jhmiedu]"
72799,"[The Capital Institute of Pediatrics, Beijing ...","[DictElement({'Year': '2020', 'Month': '6', 'D...","[The Capital Institute of Pediatrics, Beijing ...","[China, China]"

In [ ]:
#otteniamo lista abstract subito, in quanto analisi separata dal resto:
abstract=p1['Abstract'].values.tolist()
len(abstract)

In [17]:
import pycountry #dopo averlo installato
#list(pycountry.countries)

In [18]:
import pycountry
import time
cl=list(pycountry.countries)
countries_list=[]
count=-1
for paese in cl:
    count+=1
    try:
        name=list(pycountry.countries)[count].name
        countries_list.append(name)
    except AttributeError:
        time.sleep(1)
    try:
        common_name=list(pycountry.countries)[count].common_name
        countries_list.append(common_name)
    except AttributeError:
        time.sleep(1)
    try:
        official_name=list(pycountry.countries)[count].official_name
        countries_list.append(official_name)
    except AttributeError:
        time.sleep(1)
    try:
        alpha_2=list(pycountry.countries)[count].alpha_2
        countries_list.append(alpha_2)
    except AttributeError:
        time.sleep(1)
    try:
        alpha_3=list(pycountry.countries)[count].alpha_3
        countries_list.append(alpha_3)
    except AttributeError:
        time.sleep(1)

len(countries_list) #in questa lista ci sono dentro tutti i riferimenti possibili ai paesi

926

In [19]:
countries_list.append('UK') #manca UK, lo aggiungiamo
countries_list.append('PR China')
countries_list.append('England')
countries_list.append('Perù')
countries_list.append('México')
countries_list.append('España')
countries_list.append('United States of America')
countries_list.append('Brasil')
countries_list.append('Deutschland') 
countries_list.append('Iran')
countries_list.append('Russia')
countries_list.append('Republic of Korea')
countries_list.append('Italia')
countries_list.append('Korea')
countries_list.append('UNITED STATES')
countries_list.append('SPAIN')
countries_list.append('GERMANY')
countries_list.append('belgique')

In [20]:
ustates = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY",'New York (JBB)','New York (PD)',"Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

In [21]:
len(ustates)

109

In [22]:
#importo dataset delle città US
city=pd.read_csv("https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv",delimiter='|')
uscity=city['City'].values.tolist()
uscity=list(dict.fromkeys(uscity))
len(uscity)

18857

In [23]:
#inserimento città nella lista US
ustates=ustates+uscity
len(ustates)

18966

In [24]:
#creiamo liste anche per le altre top nazioni oltre a USA
#creiamo liste ad hoc per i top paesi

cities=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/world-cities_csv.csv",converters={'Affiliations': eval})
print(cities.head())

chinalist = cities[cities['country']=='China']['name'].tolist()
fralist = cities[cities['country']=='France']['name'].tolist()
spagnalist = cities[cities['country']=='Spain']['name'].tolist()
gerlist = cities[cities['country']=='Germany']['name'].tolist()
nedlist = cities[cities['country']=='Netherlands']['name'].tolist()
japlist = cities[cities['country']=='Japan']['name'].tolist()
italist = cities[cities['country']=='Italy']['name'].tolist()
uklist = cities[cities['country']=='United Kingdom']['name'].tolist()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [25]:
#ora si può fare split per spazio all'interno degli elementi e fare match con countries_list
#selezionando primo ed ultimo si può pensare di raccogliere i valori in un dizionario
#il dizionario indicherà a quante pubblicazioni sul covid i paesi hanno contribuito
#come autori principali o come finanziatori

In [26]:
p1['Countries_FL'][0]

['Germany', 'Germany']

In [69]:
#PROVIAMO A TENERE SEPRATI I VALORI DI INVESTIMENTO E AUTORE PRINCIPALE

diz_cov_country={}
id_nonaz=[]
esclusi=0

for index,row in p1.iterrows():
    inout=0 #per scovare gli indici che non hanno paese ma solo laboratorio
    count=-1
    for el in row['Countries_FL']:
        count+=1
        if row['Countries_FL'][count] in countries_list:
            inout+=1
            if row['Countries_FL'][count] in diz_cov_country:
                diz_cov_country[row['Countries_FL'][count]][count]+=1
            else:
                diz_cov_country[row['Countries_FL'][count]]=[0,0]
                diz_cov_country[row['Countries_FL'][count]][count]+=1
        elif row['Countries_FL'][count] in ustates:
            inout+=1
            if 'USA' in diz_cov_country:
                diz_cov_country['USA'][count]+=1
            else:
                diz_cov_country['USA']=[0,0]
                diz_cov_country['USA'][count]+=1
                
        elif row['Countries_FL'][count] in chinalist:
                    inout+=1
                    if 'China' in diz_cov_country:
                        diz_cov_country['China'][count]+=1
                    else:
                        diz_cov_country['China']=[0,0]
                        diz_cov_country['China'][count]+=1
                
        elif row['Countries_FL'][count] in fralist:
                    inout+=1
                    if 'France' in diz_cov_country:
                        diz_cov_country['France'][count]+=1
                    else:
                        diz_cov_country['France']=[0,0]
                        diz_cov_country['France'][count]+=1
                
        elif row['Countries_FL'][count] in spagnalist:
                    inout+=1
                    if 'Spain' in diz_cov_country:
                        diz_cov_country['Spain'][count]+=1
                    else:
                        diz_cov_country['Spain']=[0,0]
                        diz_cov_country['Spain'][count]+=1
                    
        elif row['Countries_FL'][count] in gerlist:
                    inout+=1
                    if 'Germany' in diz_cov_country:
                        diz_cov_country['Germany'][count]+=1
                    else:
                        diz_cov_country['Germany']=[0,0]
                        diz_cov_country['Germany'][count]+=1
                        
        elif row['Countries_FL'][count] in nedlist:
                    inout+=1
                    if 'Netherlands' in diz_cov_country:
                        diz_cov_country['Netherlands'][count]+=1
                    else:
                        diz_cov_country['Netherlands']=[0,0]
                        diz_cov_country['Netherlands'][count]+=1
                        
        elif row['Countries_FL'][count] in japlist:
                    inout+=1
                    if 'Japan' in diz_cov_country:
                        diz_cov_country['Japan'][count]+=1
                    else:
                        diz_cov_country['Japan']=[0,0]
                        diz_cov_country['Japan'][count]+=1
                        
                        
        elif row['Countries_FL'][count] in italist:
                    inout+=1
                    if 'Italy' in diz_cov_country:
                        diz_cov_country['Italy'][count]+=1
                    else:
                        diz_cov_country['Italy']=[0,0]
                        diz_cov_country['Italy'][count]+=1
                        
                        
        elif row['Countries_FL'][count] in uklist:
                    inout+=1
                    if 'United Kingdom' in diz_cov_country:
                        diz_cov_country['United Kingdom'][count]+=1
                    else:
                        diz_cov_country['United Kingdom']=[0,0]
                        diz_cov_country['United Kingdom'][count]+=1
                
                

                
                
                
        else:
            spl= row['Countries_FL'][count].split(" ")
            for elemento in spl:
                if elemento in countries_list:
                    inout+=1
                    if elemento in diz_cov_country:
                        diz_cov_country[elemento][count]+=1
                    else:
                        diz_cov_country[elemento]=[0,0]
                        diz_cov_country[elemento][count]+=1
                        
                elif elemento in ustates:
                    inout+=1
                    if 'USA' in diz_cov_country:
                        diz_cov_country['USA'][count]+=1
                    else:
                        diz_cov_country['USA']=[0,0]
                        diz_cov_country['USA'][count]+=1
                        
                elif elemento in chinalist:
                    inout+=1
                    if 'China' in diz_cov_country:
                        diz_cov_country['China'][count]+=1
                    else:
                        diz_cov_country['China']=[0,0]
                        diz_cov_country['China'][count]+=1
                
                elif elemento in fralist:
                    inout+=1
                    if 'France' in diz_cov_country:
                        diz_cov_country['France'][count]+=1
                    else:
                        diz_cov_country['France']=[0,0]
                        diz_cov_country['France'][count]+=1
                
                elif elemento in spagnalist:
                    inout+=1
                    if 'Spain' in diz_cov_country:
                        diz_cov_country['Spain'][count]+=1
                    else:
                        diz_cov_country['Spain']=[0,0]
                        diz_cov_country['Spain'][count]+=1
                    
                elif elemento in gerlist:
                    inout+=1
                    if 'Germany' in diz_cov_country:
                        diz_cov_country['Germany'][count]+=1
                    else:
                        diz_cov_country['Germany']=[0,0]
                        diz_cov_country['Germany'][count]+=1
                        
                elif elemento in nedlist:
                    inout+=1
                    if 'Netherlands' in diz_cov_country:
                        diz_cov_country['Netherlands'][count]+=1
                    else:
                        diz_cov_country['Netherlands']=[0,0]
                        diz_cov_country['Netherlands'][count]+=1
                        
                elif elemento in japlist:
                    inout+=1
                    if 'Japan' in diz_cov_country:
                        diz_cov_country['Japan'][count]+=1
                    else:
                        diz_cov_country['Japan']=[0,0]
                        diz_cov_country['Japan'][count]+=1
                        
                        
                elif elemento in italist:
                    inout+=1
                    if 'Italy' in diz_cov_country:
                        diz_cov_country['Italy'][count]+=1
                    else:
                        diz_cov_country['Italy']=[0,0]
                        diz_cov_country['Italy'][count]+=1
                        
                        
                elif elemento in uklist:
                    inout+=1
                    if 'United Kingdom' in diz_cov_country:
                        diz_cov_country['United Kingdom'][count]+=1
                    else:
                        diz_cov_country['United Kingdom']=[0,0]
                        diz_cov_country['United Kingdom'][count]+=1
                
                

                
                
                else:
                    try:
                        dop=str(spl[0]+' '+spl[1])
                        if dop in countries_list:
                            inout+=1
                            if dop in diz_cov_country:
                                diz_cov_country[dop][count]+=1
                            else:
                                diz_cov_country[dop]=[0,0]
                                diz_cov_country[dop][count]+=1
                            
                    except IndexError:
                        inout+=0
                        
    if inout < 2:
        id_nonaz.append(index)
        if inout == 0:
            esclusi+=1

#round dei valori float per eccesso:
#for key in diz_cov_country:
#    diz_cov_country[key]=int(np.ceil(diz_cov_country[key]))   

#ordinamento del dizionario   
sort_diz=sorted(diz_cov_country.items(),key=lambda item: item[1], reverse=True)
#sort_diz

In [70]:
print(len(list(set(id_nonaz))))
#for indice in id_nonaz:
    #print(p1['Countries_FL'][indice])
    #print('\n')
    
#problematiche riguardanti paesi con spazio in mezzo

3882

In [29]:
len(id_nonaz)

3882

In [30]:
#sum(diz_cov_country.values()) #ne restano fuori circa 2k (conta anche che sono approssimati)
#indicativamente soddisfatti

In [31]:
#unifica i valori dei dizionari e passa ad analisi non covid

In [71]:
sort_diz_it=sorted(diz_cov_country.items(),key=lambda item: item[0], reverse=True)
len(sort_diz_it)

316

In [72]:
count=0
diz_aus={}
for key in diz_cov_country:
    
    if len(key) == 2:
        try:
            country = pycountry.countries.get(alpha_2=key)
            name=country.name
            if name in diz_aus:
                diz_aus[name]+=diz_cov_country[key]
            if name not in diz_aus:
                diz_aus[name]=diz_cov_country[key]

        except AttributeError:
            count+=1
            
    if len(key) == 3:
        try:
            country = pycountry.countries.get(alpha_3=key)
            name=country.name
            if name in diz_aus:
                diz_aus[name]+=diz_cov_country[key]
            if name not in diz_aus:
                diz_aus[name]=diz_cov_country[key]
                
        except AttributeError:
            count+=1

 
del(diz_aus['Puerto Rico']) #conflitto con PRChina
#diz_aus

In [73]:
count #solo UK non va bene, quindi la gestiremo manualmente

1

In [74]:
len(diz_aus)

90

In [75]:
len(diz_aus['Sudan'])

2

In [76]:
#sistemazione dizionario ausiliario
for key in diz_aus:
    count=-1
    pari=0
    disp=0
    if len(diz_aus[key]) > 2:
        for el in diz_aus[key]:
            count+=1
            if count==0 or count==2:
                pari+=diz_aus[key][count]
            if count==1 or count==3:
                disp+=diz_aus[key][count]
        diz_aus[key]=[pari,disp]
#diz_aus

In [77]:
#eliminazione alpha dal diz

for key, value in list(diz_cov_country.items()):
    if len(key)<=3: #poi gestisci manualmente UK
        del(diz_cov_country[key])
len(diz_cov_country)

#('UK', [3871, 3884])

204

In [78]:
#aumentiamo UK
#[3871, 3884]
diz_cov_country['United Kingdom'][0]+=3871
diz_cov_country['United Kingdom'][1]+=3884
diz_cov_country['United Kingdom']

[5465, 5314]

In [79]:
#checking duplicati tra le chiavi prima di fare merge

dup=list(diz_cov_country.keys())
import collections
print([item for item, count in collections.Counter(dup).items() if count > 1])
#non ci sono chiavi duplicate, tutto ok

[]

In [80]:
for key in diz_aus:
    for chiave in diz_cov_country:
        if key == chiave:
            diz_cov_country[chiave]+=diz_aus[key]
sort_diz_fin=sorted(diz_cov_country.items(),key=lambda item: item[0], reverse=True)
#sort_diz_fin

In [81]:
#sistemazione dizionario ausiliario
for key in diz_cov_country:
    count=-1
    pari=0
    disp=0
    if len(diz_cov_country[key]) > 2:
        for el in diz_cov_country[key]:
            count+=1
            if count==0 or count==2:
                pari+=diz_cov_country[key][count]
            if count==1 or count==3:
                disp+=diz_cov_country[key][count]
        diz_cov_country[key]=[pari,disp]
#diz_cov_country

In [83]:
#sorted(diz_cov_country.items(),key=lambda item: item[1], reverse=True)

In [84]:
len(diz_cov_country)

204

In [85]:
#creazione nuove variabili sfruttando le vecchie che saranno poi eleiminate
diz_cov_country['UnitedStates2']=diz_cov_country['United States']+diz_cov_country['United States of America']+diz_cov_country['UNITED STATES']
diz_cov_country['China2']=diz_cov_country['China'] + diz_cov_country['PR China'] + diz_cov_country['Hong Kong'] + diz_cov_country["People's Republic of China"] + diz_cov_country['Taiwan']
diz_cov_country['Italy2']=diz_cov_country['Italy'] + diz_cov_country['Italia'] 
diz_cov_country['UnitedKingdom2']=diz_cov_country['United Kingdom of Great Britain and Northern Ireland'] + diz_cov_country['United Kingdom'] + diz_cov_country['England']
diz_cov_country['Spain2']=diz_cov_country['Spain'] + diz_cov_country['SPAIN'] + diz_cov_country['España']
diz_cov_country['Germany2']=diz_cov_country['Germany'] + diz_cov_country['GERMANY'] + diz_cov_country['Deutschland']
diz_cov_country['Brazil2']=diz_cov_country['Brazil'] + diz_cov_country['Brasil']
diz_cov_country['Iran2']=diz_cov_country['Islamic Republic of Iran']  + diz_cov_country['Iran']
diz_cov_country['SaudiArabia2']=diz_cov_country['Saudi Arabia'] + diz_cov_country['Kingdom of Saudi Arabia']
diz_cov_country['Korea2']=diz_cov_country['Republic of Korea'] + diz_cov_country['Korea']
diz_cov_country['ZAF2']=diz_cov_country['Republic of South Africa'] + diz_cov_country['South Africa']

In [86]:
len(diz_cov_country)

215

In [87]:
USA=['United States','United States of America','UNITED STATES']
CHINA=['China','PR China','Hong Kong',"People's Republic of China",'Taiwan']
ITALIA=['Italy','Italia']
UK=['United Kingdom of Great Britain and Northern Ireland','United Kingdom','England']
SPAGNA=['Spain','SPAIN','España']
GERMANIA=['Germany','GERMANY','Deutschland']
BRASILE=['Brazil','Brasil']
IRAN=['Islamic Republic of Iran','Iran']
ARABIA_SAUDITA=['Saudi Arabia','Kingdom of Saudi Arabia']
KOREA=['Republic of Korea','Korea']
ZAF=['Republic of South Africa','South Africa']

#eliminazione chiavi vecchie non utili
for key, value in list(diz_cov_country.items()):
    if key in USA or key in CHINA or key in ITALIA or key in UK or key in SPAGNA or key in GERMANIA or key in BRASILE or key in IRAN or key in ARABIA_SAUDITA or key in KOREA or key in ZAF : #poi gestisci manualmente UK
        del(diz_cov_country[key])
len(diz_cov_country)

186

In [88]:
#rename delle keys
diz_cov_country['United States'] = diz_cov_country.pop('UnitedStates2')
diz_cov_country['China'] = diz_cov_country.pop('China2')
diz_cov_country['Italy'] = diz_cov_country.pop('Italy2')
diz_cov_country['United Kingdom'] = diz_cov_country.pop('UnitedKingdom2')
diz_cov_country['Spain'] = diz_cov_country.pop('Spain2')
diz_cov_country['Germany'] =diz_cov_country.pop('Germany2')
diz_cov_country['Brazil'] = diz_cov_country.pop('Brazil2')
diz_cov_country['Iran'] = diz_cov_country.pop('Iran2')
diz_cov_country['Saudi Arabia'] = diz_cov_country.pop('SaudiArabia2')
diz_cov_country['Korea'] = diz_cov_country.pop('Korea2')
diz_cov_country['South Africa'] = diz_cov_country.pop('ZAF2')

In [89]:
sorted_diz_fin=sorted(diz_cov_country.items(),key=lambda item: item[1], reverse=True)
#sorted_diz_fin

In [90]:
#ultimo filtro
#sistemazione dizionario ausiliario
for key in diz_cov_country:
    count=-1
    pari=0
    disp=0
    if len(diz_cov_country[key]) > 2:
        for el in diz_cov_country[key]:
            count+=1
            if count==0 or count==2 or count==4 or count==6 or count==8:
                pari+=diz_cov_country[key][count]
            if count==1 or count==3 or count==5 or count==7 or count==9:
                disp+=diz_cov_country[key][count]
        diz_cov_country[key]=[pari,disp]
#diz_cov_country

In [123]:
diz_cov_country

{'Argentina': [226, 217],
 'Austria': [302, 288],
 'Turkey': [1018, 1000],
 'Costa Rica': [14, 14],
 'India': [3406, 3328],
 'Sudan': [23, 22],
 'Finland': [84, 85],
 'Greece': [433, 442],
 'Canada': [1735, 1759],
 'Nigeria': [207, 175],
 'Switzerland': [713, 748],
 'Poland': [497, 488],
 'Denmark': [224, 243],
 'Algeria': [29, 24],
 'France': [2312, 2315],
 'Israel': [520, 536],
 'Cameroon': [19, 23],
 'Malaysia': [250, 219],
 'Australia': [1193, 1220],
 'Japan': [960, 999],
 'Tanzania': [15, 10],
 'Thailand': [231, 120],
 'Mexico': [323, 317],
 'Ecuador': [55, 45],
 'Oman': [43, 33],
 'Romania': [136, 133],
 'Croatia': [85, 81],
 'Qatar': [164, 164],
 'México': [144, 146],
 'Pakistan': [431, 413],
 'Ghana': [44, 40],
 'Netherlands': [678, 683],
 'Sweden': [297, 306],
 'Kuwait': [48, 40],
 'Singapore': [738, 744],
 'Bangladesh': [256, 212],
 'Morocco': [393, 409],
 'Hungary': [67, 67],
 'Ukraine': [23, 32],
 'Indonesia': [191, 184],
 'Russia': [187, 201],
 'Lebanon': [94, 95],
 'Slovenia': [50, 46],
 'Tunisia': [76, 73],
 'Republic of North Macedonia': [1, 1],
 'Peru': [101, 75],
 'Kenya': [40, 40],
 'United Arab Emirates': [107, 100],
 'Ireland': [299, 306],
 'Portugal': [338, 323],
 'Belgium': [471, 476],
 'Norway': [131, 155],
 'Jordan': [98, 82],
 'Latvia': [5, 5],
 'Congo': [25, 19],
 'Cyprus': [42, 43],
 'Colombia': [243, 268],
 'Egypt': [327, 297],
 'Ethiopia': [91, 92],
 'Venezuela': [11, 16],
 'Botswana': [2, 3],
 'Papua New Guinea': [0, 2],
 'Slovak Republic': [6, 2],
 'Kazakhstan': [13, 12],
 'Nepal': [104, 95],
 'Czech Republic': [87, 91],
 'Gabon': [76, 86],
 'Vietnam': [67, 61],
 'Georgia': [118, 109],
 'Russian Federation': [57, 53],
 'Chile': [199, 187],
 'Mauritius': [4, 4],
 'Libya': [24, 23],
 'Bosnia and Herzegovina': [27, 24],
 'Serbia': [58, 50],
 'Bahrain': [16, 13],
 'Iraq': [53, 41],
 'Dominican Republic': [12, 8],
 'Cuba': [19, 15],
 'New Zealand': [176, 146],
 'Senegal': [10, 6],
 'Uganda': [28, 32],
 'Iceland': [11, 11],
 'Luxembourg': [18, 21],
 'Brunei Darussalam': [20, 19],
 'Barbados': [3, 3],
 'Philippines': [49, 38],
 'Bhutan': [5, 3],
 'Cambodia': [7, 3],
 'Malta': [26, 32],
 'Zambia': [10, 10],
 'Bulgaria': [14, 17],
 'Slovakia': [13, 14],
 'Lithuania': [18, 19],
 'Macao': [70, 60],
 'Republic of Croatia': [0, 1],
 'Zimbabwe': [16, 11],
 'Uruguay': [16, 18],
 'Bolivia': [10, 10],
 'French Guiana': [14, 9],
 'Maldives': [5, 7],
 'Angola': [1, 1],
 'Mozambique': [7, 3],
 'Sri Lanka': [83, 61],
 'Guinea': [6, 3],
 'Panama': [147, 154],
 'Haiti': [1, 2],
 'Republic of South Sudan': [0, 2],
 'Rwanda': [6, 12],
 'Jamaica': [3, 5],
 'Viet Nam': [29, 35],
 'El Salvador': [6, 5],
 'Gambia': [3, 4],
 'Kyrgyzstan': [1, 0],
 'Afghanistan': [8, 4],
 'Trinidad and Tobago': [6, 6],
 'Myanmar': [6, 2],
 "Côte d'Ivoire": [0, 1],
 'Malawi': [9, 11],
 'Republic of Moldova': [1, 1],
 'Armenia': [1, 1],
 'Paraguay': [5, 5],
 'Burkina Faso': [9, 1],
 'Madagascar': [12, 10],
 'Honduras': [8, 3],
 'Somalia': [2, 2],
 'Liechtenstein': [4, 2],
 'Estonia': [7, 11],
 'Benin': [5, 6],
 'Syrian Arab Republic': [4, 3],
 'Czechia': [5, 4],
 'Guadeloupe': [3, 4],
 'Nicaragua': [2, 1],
 'Jersey': [8, 8],
 'Albania': [14, 14],
 'Chad': [1, 0],
 'Fiji': [0, 1],
 'Togo': [3, 3],
 'Niger': [8, 6],
 'Republic of Djibouti': [1, 1],
 'Yemen': [9, 6],
 'Guatemala': [3, 3],
 'Saint Kitts and Nevis': [1, 1],
 'Sierra Leone': [9, 0],
 'Namibia': [1, 1],
 'North Macedonia': [2, 1],
 'Grenada': [7, 4],
 'Mali': [11, 3],
 'Burundi': [2, 1],
 'Belarus': [4, 4],
 'Belize': [1, 0],
 'Sultanate of Oman': [2, 0],
 'Liberia': [1, 1],
 'Puerto Rico': [5, 8],
 'Kingdom of Bahrain': [1, 1],
 'Republic of Singapore': [6, 3],
 'Mauritania': [1, 1],
 'Antigua and Barbuda': [1, 0],
 'Gibraltar': [2, 0],
 'Timor-Leste': [2, 2],
 'Martinique': [3, 2],
 'Dominica': [0, 1],
 'Aruba': [0, 3],
 'Monaco': [1, 2],
 'United Republic of Tanzania': [1, 1],
 'Montenegro': [6, 4],
 'Republic of Belarus': [1, 1],
 'Andorra': [2, 2],
 'Perù': [0, 1],
 'French Polynesia': [2, 1],
 'Bermuda': [1, 1],
 'Guinea-Bissau': [1, 0],
 'Republic of Cyprus': [1, 0],
 'New Caledonia': [63, 55],
 'Samoa': [1, 1],
 'United States': [20406, 20779],
 'China': [9983, 10089],
 'Italy': [6420, 6385],
 'United Kingdom': [5526, 5386],
 'Spain': [2543, 2539],
 'Germany': [2111, 2133],
 'Brazil': [1901, 1886],
 'Iran': [1358, 1318],
 'Saudi Arabia': [847, 749],
 'Korea': [717, 739],
 'South Africa': [606, 606]}

In [127]:
listone=list(diz_cov_country.values())
chiavi=list(diz_cov_country.keys())
pa=[]
fun=[]
som=[]
listone
for li in listone:
    somma=0
    count=-1
    for el in li:
        count+=1
        if count==0:
            pa.append(el)
            somma+=el
        if count==1:
            fun.append(el)
            somma+=el
    som.append(somma)


countrycov_pub=pd.DataFrame(list(zip(chiavi,pa,fun,som)),columns=['Country','Principal_Author','Funding_country','Sum'])
countrycov_pub=countrycov_pub.sort_values(by=['Sum'],ascending=False).reset_index() 
countrycov_pub=countrycov_pub.drop('index',axis=1)
countrycov_pub=countrycov_pub[0:20]


#taglia india, brasile, iran, korea
countrycov_pub=countrycov_pub.drop([4,8,10,14,17],axis=0).reset_index()
countrycov_pub=countrycov_pub.drop('index',axis=1)
countrycov_pub

           Country  Principal_Author  Funding_country    Sum
0    United States             20406            20779  41185
1            China              9983            10089  20072
2            Italy              6420             6385  12805
3   United Kingdom              5526             5386  10912
4            Spain              2543             2539   5082
5           France              2312             2315   4627
6          Germany              2111             2133   4244
7           Canada              1735             1759   3494
8        Australia              1193             1220   2413
9           Turkey              1018             1000   2018
10           Japan               960              999   1959
11       Singapore               738              744   1482
12     Switzerland               713              748   1461
13     Netherlands               678              683   1361
14    South Africa               606              606   1212

In [128]:
#si notano valori molto simili tra PA e Fun

In [129]:
#standardizzazione per confrontare paesi tra loro in stesso ambito: numero di ricrcatori
# per il confronto si puo pensare ad un indice che combini i due campi SUM
#WC abstract covid

In [130]:
#import standardizzazioni drive per ricercatori

In [131]:
usa=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/UnitedStates_Total researchers (FTE).csv")
uk=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/UnitedKingdom_Total researchers (FTE).csv")
aus=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Australia_Total researchers (FTE).csv")
usa=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/UnitedStates_Total researchers (FTE).csv")
spain=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Spain_Total researchers (FTE).csv")
turkey=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Turkey_Total researchers (FTE).csv")
switzerland=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Switzerland_Total researchers (FTE).csv")
italy=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Italy_Total researchers (FTE).csv")
southafrica=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/SouthAfrica_Total researchers (FTE).csv")
netherland=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Netherlands_Total researchers (FTE).csv")
singapore=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Singapore_Total researchers (FTE).csv")
france=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/France_Total researchers (FTE).csv")
japan=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Japan_Total researchers (FTE).csv")
germany=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Germany_Total researchers (FTE).csv")
canada=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/Canada_Total researchers (FTE).csv")
china=pd.read_csv("C:/Users/aless/OneDrive/Desktop/AleBicocca/Data Science/Anno 2/Lab Biosciences/Project/Dati_Covid/ricercatori/China(People_sRepublicof)_Total researchers (FTE).csv")


union=[usa,china,italy,uk,spain,france,germany,canada,aus,turkey,japan,singapore,switzerland,netherland,southafrica]
#pd.concat(union,on='Year')

In [132]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Year'],how='outer'), union)
df_merged

,Year,United States,China (People's Republic of),Italy,United Kingdom,Spain,France,Germany,Canada,Australia,Turkey,Japan,Singapore,Switzerland,Netherlands,South Africa
0,2000,9.849650e+05,695062.0,66110.0,170554.3900,76669.7000,172070.000000,257874.000,107900.0,66001.4,23083.000000,647572.0,16632.8100,26105.0000,42194.000000,NaN
1,2001,1.015318e+06,742726.0,66702.0,182143.8400,80080.6000,177372.000000,264385.000,114510.0,NaN,22702.000000,653021.0,16740.4200,NaN,45599.000000,14182.000
2,2002,1.049197e+06,810525.0,71242.0,198162.9800,83317.8000,186420.000000,265812.000,115960.0,73173.0,23995.000000,623035.0,18120.2300,NaN,43875.000000,NaN
3,2003,1.128803e+06,862108.0,70332.3,216689.8700,92522.7000,192789.911800,268942.000,123230.0,NaN,32660.000000,652369.0,20023.8500,NaN,43805.000000,14130.900
4,2004,1.107758e+06,926252.0,72012.1,228969.0900,100994.4000,202377.200000,270215.000,130380.0,81191.5,33876.550000,653747.0,21359.2200,25400.0000,48402.000000,17914.510
5,2005,1.104019e+06,1118698.0,82488.9,248599.3000,109720.3000,202506.790000,272148.000,136700.0,NaN,39138.981623,680631.0,23789.3100,NaN,47854.000000,17303.020
6,2006,1.133369e+06,1223756.4,88429.6,254009.0000,115798.4000,210591.089900,279822.000,140660.0,87201.0,42663.480280,684884.0,25033.4200,NaN,53150.000000,18572.750
7,2007,1.136653e+06,1423381.0,93000.1,252650.8000,122624.1000,221851.042800,290853.000,151330.0,NaN,49667.860300,684311.0,27301.4000,NaN,51057.000000,19320.280
8,2008,1.194367e+06,1592420.0,95766.3,251931.7000,130986.3000,227678.529900,302641.000,157200.0,92648.8,52810.856900,656676.0,27839.8000,25141.6998,50727.000000,19384.330
9,2009,1.252882e+06,1152311.0,101840.2,256124.1127,133803.4000,234366.047100,317307.000,150220.0,NaN,57758.561600,655530.0,30526.7100,NaN,46958.000000,19793.064
10,2010,1.200535e+06,1210840.8,103424.3,256584.9570,134653.0000,243533.227600,327996.000,158660.0,100413.9,64340.964000,656032.0,32028.0650,NaN,53703.000000,18719.550
11,2011,1.254786e+06,1318086.0,106151.3,251357.6000,130234.9000,249246.600000,338689.000,165100.0,NaN,72108.598400,656651.0,33713.9480,NaN,61334.864086,20115.060
12,2012,1.253231e+06,1404017.0,110694.8,256156.4000,126777.5090,258913.000000,352419.000,161600.0,NaN,82122.437454,646347.0,34131.9970,35785.0000,73235.104300,21382.400
13,2013,1.294690e+06,1484039.7,116163.3,267698.5000,123224.6870,265465.811200,354463.000,163180.0,NaN,89074.860570,660489.0,36011.6350,NaN,82797.000000,23346.010
14,2014,1.340689e+06,1524280.3,118183.0,276583.8000,122235.3861,271772.271800,351923.000,161982.0,NaN,89657.262240,682935.0,36647.2970,NaN,83710.000000,23571.900
15,2015,1.370627e+06,1619027.7,125875.0,284483.0000,122437.0000,277631.497600,387982.000,162960.0,NaN,95160.762567,662071.0,39182.1424,43740.0000,83488.000000,26159.400
16,2016,1.373551e+06,1692175.8,133706.0,288922.0000,126633.3870,285488.000000,399605.000,158980.0,NaN,100158.000000,665566.0,39207.4455,NaN,87612.000000,27656.200
17,2017,1.435905e+06,1740442.2,140378.0,295934.0000,133213.1880,295754.000000,419617.000,158890.0,NaN,111893.000000,676292.0,38898.1611,46088.0000,91023.000000,29515.220
18,2018,1.554900e+06,1866108.8,152522.6,305794.5000,140120.1000,305243.452500,433685.036,NaN,NaN,126249.140000,678134.0,39272.3887,NaN,95475.000000,NaN
19,2019,NaN,2109459.8,160623.3,317472.0000,143973.9000,314100.876538,449464.000,NaN,NaN,135514.844000,681821.0,NaN,NaN,99096.000000,NaN

In [133]:
import numpy as np
df_merged.round(2)

,Year,United States,China (People's Republic of),Italy,United Kingdom,Spain,France,Germany,Canada,Australia,Turkey,Japan,Singapore,Switzerland,Netherlands,South Africa
0,2000,984965.00,695062.0,66110.0,170554.39,76669.70,172070.00,257874.00,107900.0,66001.4,23083.00,647572.0,16632.81,26105.0,42194.00,NaN
1,2001,1015318.00,742726.0,66702.0,182143.84,80080.60,177372.00,264385.00,114510.0,NaN,22702.00,653021.0,16740.42,NaN,45599.00,14182.00
2,2002,1049197.00,810525.0,71242.0,198162.98,83317.80,186420.00,265812.00,115960.0,73173.0,23995.00,623035.0,18120.23,NaN,43875.00,NaN
3,2003,1128803.00,862108.0,70332.3,216689.87,92522.70,192789.91,268942.00,123230.0,NaN,32660.00,652369.0,20023.85,NaN,43805.00,14130.90
4,2004,1107758.00,926252.0,72012.1,228969.09,100994.40,202377.20,270215.00,130380.0,81191.5,33876.55,653747.0,21359.22,25400.0,48402.00,17914.51
5,2005,1104019.00,1118698.0,82488.9,248599.30,109720.30,202506.79,272148.00,136700.0,NaN,39138.98,680631.0,23789.31,NaN,47854.00,17303.02
6,2006,1133369.00,1223756.4,88429.6,254009.00,115798.40,210591.09,279822.00,140660.0,87201.0,42663.48,684884.0,25033.42,NaN,53150.00,18572.75
7,2007,1136653.00,1423381.0,93000.1,252650.80,122624.10,221851.04,290853.00,151330.0,NaN,49667.86,684311.0,27301.40,NaN,51057.00,19320.28
8,2008,1194367.00,1592420.0,95766.3,251931.70,130986.30,227678.53,302641.00,157200.0,92648.8,52810.86,656676.0,27839.80,25141.7,50727.00,19384.33
9,2009,1252882.00,1152311.0,101840.2,256124.11,133803.40,234366.05,317307.00,150220.0,NaN,57758.56,655530.0,30526.71,NaN,46958.00,19793.06
10,2010,1200535.00,1210840.8,103424.3,256584.96,134653.00,243533.23,327996.00,158660.0,100413.9,64340.96,656032.0,32028.06,NaN,53703.00,18719.55
11,2011,1254786.00,1318086.0,106151.3,251357.60,130234.90,249246.60,338689.00,165100.0,NaN,72108.60,656651.0,33713.95,NaN,61334.86,20115.06
12,2012,1253231.00,1404017.0,110694.8,256156.40,126777.51,258913.00,352419.00,161600.0,NaN,82122.44,646347.0,34132.00,35785.0,73235.10,21382.40
13,2013,1294690.31,1484039.7,116163.3,267698.50,123224.69,265465.81,354463.00,163180.0,NaN,89074.86,660489.0,36011.64,NaN,82797.00,23346.01
14,2014,1340689.00,1524280.3,118183.0,276583.80,122235.39,271772.27,351923.00,161982.0,NaN,89657.26,682935.0,36647.30,NaN,83710.00,23571.90
15,2015,1370627.27,1619027.7,125875.0,284483.00,122437.00,277631.50,387982.00,162960.0,NaN,95160.76,662071.0,39182.14,43740.0,83488.00,26159.40
16,2016,1373550.67,1692175.8,133706.0,288922.00,126633.39,285488.00,399605.00,158980.0,NaN,100158.00,665566.0,39207.45,NaN,87612.00,27656.20
17,2017,1435904.51,1740442.2,140378.0,295934.00,133213.19,295754.00,419617.00,158890.0,NaN,111893.00,676292.0,38898.16,46088.0,91023.00,29515.22
18,2018,1554899.56,1866108.8,152522.6,305794.50,140120.10,305243.45,433685.04,NaN,NaN,126249.14,678134.0,39272.39,NaN,95475.00,NaN
19,2019,NaN,2109459.8,160623.3,317472.00,143973.90,314100.88,449464.00,NaN,NaN,135514.84,681821.0,NaN,NaN,99096.00,NaN

In [134]:
pct=df_merged.pct_change(axis='rows')
pct_last=pct[:]
pct_last

,Year,United States,China (People's Republic of),Italy,United Kingdom,Spain,France,Germany,Canada,Australia,Turkey,Japan,Singapore,Switzerland,Netherlands,South Africa
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000500,0.030816,0.068575,0.008955,0.067952,0.044488,0.030813,0.025249,0.061260,0.000000,-0.016506,0.008415,0.006470,0.000000,0.080699,NaN
2,0.000500,0.033368,0.091284,0.068064,0.087948,0.040424,0.051011,0.005397,0.012663,0.108658,0.056955,-0.045919,0.082424,0.000000,-0.037808,0.000000
3,0.000500,0.075873,0.063641,-0.012769,0.093493,0.110479,0.034170,0.011775,0.062694,0.000000,0.361117,0.047082,0.105055,0.000000,-0.001595,-0.003603
4,0.000499,-0.018644,0.074404,0.023884,0.056667,0.091563,0.049729,0.004733,0.058022,0.109583,0.037249,0.002112,0.066689,-0.027006,0.104942,0.267754
5,0.000499,-0.003375,0.207769,0.145487,0.085733,0.086400,0.000640,0.007154,0.048474,0.000000,0.155341,0.041123,0.113772,0.000000,-0.011322,-0.034134
6,0.000499,0.026585,0.093911,0.072018,0.021761,0.055396,0.039921,0.028198,0.028969,0.074016,0.090051,0.006249,0.052297,0.000000,0.110670,0.073382
7,0.000499,0.002898,0.163124,0.051685,-0.005347,0.058945,0.053468,0.039421,0.075857,0.000000,0.164177,-0.000837,0.090598,0.000000,-0.039379,0.040249
8,0.000498,0.050775,0.118759,0.029744,-0.002846,0.068194,0.026268,0.040529,0.038789,0.062474,0.063280,-0.040384,0.019721,-0.010169,-0.006463,0.003315
9,0.000498,0.048992,-0.276377,0.063424,0.016641,0.021507,0.029373,0.048460,-0.044402,0.000000,0.093687,-0.001745,0.096513,0.000000,-0.074300,0.021086
10,0.000498,-0.041781,0.050793,0.015555,0.001799,0.006350,0.039115,0.033687,0.056184,0.083812,0.113964,0.000766,0.049182,0.000000,0.143639,-0.054237
11,0.000498,0.045189,0.088571,0.026367,-0.020373,-0.032811,0.023460,0.032601,0.040590,0.000000,0.120726,0.000944,0.052638,0.000000,0.142112,0.074548
12,0.000497,-0.001239,0.065194,0.042802,0.019092,-0.026547,0.038782,0.040539,-0.021199,0.000000,0.138872,-0.015692,0.012400,0.423333,0.194021,0.063005
13,0.000497,0.033082,0.056996,0.049402,0.045059,-0.028024,0.025309,0.005800,0.009777,0.000000,0.084659,0.021880,0.055070,0.000000,0.130564,0.091833
14,0.000497,0.035529,0.027116,0.017387,0.033191,-0.008028,0.023756,-0.007166,-0.007342,0.000000,0.006538,0.033984,0.017652,0.000000,0.011027,0.009676
15,0.000497,0.022331,0.062159,0.065086,0.028560,0.001649,0.021559,0.102463,0.006038,0.000000,0.061384,-0.030550,0.069169,0.222300,-0.002652,0.109771
16,0.000496,0.002133,0.045180,0.062213,0.015604,0.034274,0.028298,0.029958,-0.024423,0.000000,0.052514,0.005279,0.000646,0.000000,0.049396,0.057218
17,0.000496,0.045396,0.028523,0.049901,0.024270,0.051959,0.035959,0.050079,-0.000566,0.000000,0.117165,0.016116,-0.007888,0.053681,0.038933,0.067219
18,0.000496,0.082871,0.072204,0.086514,0.033320,0.051849,0.032086,0.033526,0.000000,0.000000,0.128302,0.002724,0.009621,0.000000,0.048911,0.000000
19,0.000496,0.000000,0.130406,0.053111,0.038187,0.027504,0.029018,0.036383,0.000000,0.000000,0.073392,0.005437,0.000000,0.000000,0.037926,0.000000

In [135]:
desc=pct_last.describe()
desc

,Year,United States,China (People's Republic of),Italy,United Kingdom,Spain,France,Germany,Canada,Australia,Turkey,Japan,Singapore,Switzerland,Netherlands,South Africa
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,18.000000
mean,0.000498,0.024779,0.064854,0.048359,0.033722,0.034504,0.032249,0.029936,0.021125,0.023081,0.100151,0.002999,0.046949,0.034849,0.048385,0.043727
std,0.000001,0.031433,0.094100,0.034447,0.032461,0.041297,0.012150,0.024117,0.034308,0.040892,0.079187,0.024420,0.039199,0.107824,0.073560,0.071436
min,0.000496,-0.041781,-0.276377,-0.012769,-0.020373,-0.032811,0.000640,-0.007166,-0.044402,0.000000,-0.016506,-0.045919,-0.007888,-0.027006,-0.074300,-0.054237
25%,0.000497,0.001066,0.053894,0.025125,0.016122,0.004000,0.025788,0.009464,-0.000283,0.000000,0.059170,-0.001291,0.011010,0.000000,-0.004558,0.000000
50%,0.000498,0.030816,0.068575,0.049901,0.028560,0.040424,0.030813,0.032601,0.012663,0.000000,0.090051,0.002724,0.052297,0.000000,0.038933,0.030667
75%,0.000499,0.045293,0.092598,0.064255,0.050863,0.057170,0.038949,0.039975,0.052329,0.031237,0.124514,0.012265,0.075796,0.000000,0.107806,0.071841
max,0.000500,0.082871,0.207769,0.145487,0.093493,0.110479,0.053468,0.102463,0.075857,0.109583,0.361117,0.047082,0.113772,0.423333,0.194021,0.267754

In [136]:
quart=desc.iloc[[6]]

In [137]:
#seleziona il percentile giusto e crea vettore dati per 2020

In [138]:
df_merged_fin=round(df_merged.append(quart),2)
df_merged_fin

,Year,United States,China (People's Republic of),Italy,United Kingdom,Spain,France,Germany,Canada,Australia,Turkey,Japan,Singapore,Switzerland,Netherlands,South Africa
0,2000.0,984965.00,695062.00,66110.00,170554.39,76669.70,172070.00,257874.00,107900.00,66001.40,23083.00,647572.00,16632.81,26105.0,42194.00,NaN
1,2001.0,1015318.00,742726.00,66702.00,182143.84,80080.60,177372.00,264385.00,114510.00,NaN,22702.00,653021.00,16740.42,NaN,45599.00,14182.00
2,2002.0,1049197.00,810525.00,71242.00,198162.98,83317.80,186420.00,265812.00,115960.00,73173.00,23995.00,623035.00,18120.23,NaN,43875.00,NaN
3,2003.0,1128803.00,862108.00,70332.30,216689.87,92522.70,192789.91,268942.00,123230.00,NaN,32660.00,652369.00,20023.85,NaN,43805.00,14130.90
4,2004.0,1107758.00,926252.00,72012.10,228969.09,100994.40,202377.20,270215.00,130380.00,81191.50,33876.55,653747.00,21359.22,25400.0,48402.00,17914.51
5,2005.0,1104019.00,1118698.00,82488.90,248599.30,109720.30,202506.79,272148.00,136700.00,NaN,39138.98,680631.00,23789.31,NaN,47854.00,17303.02
6,2006.0,1133369.00,1223756.40,88429.60,254009.00,115798.40,210591.09,279822.00,140660.00,87201.00,42663.48,684884.00,25033.42,NaN,53150.00,18572.75
7,2007.0,1136653.00,1423381.00,93000.10,252650.80,122624.10,221851.04,290853.00,151330.00,NaN,49667.86,684311.00,27301.40,NaN,51057.00,19320.28
8,2008.0,1194367.00,1592420.00,95766.30,251931.70,130986.30,227678.53,302641.00,157200.00,92648.80,52810.86,656676.00,27839.80,25141.7,50727.00,19384.33
9,2009.0,1252882.00,1152311.00,101840.20,256124.11,133803.40,234366.05,317307.00,150220.00,NaN,57758.56,655530.00,30526.71,NaN,46958.00,19793.06
10,2010.0,1200535.00,1210840.80,103424.30,256584.96,134653.00,243533.23,327996.00,158660.00,100413.90,64340.96,656032.00,32028.06,NaN,53703.00,18719.55
11,2011.0,1254786.00,1318086.00,106151.30,251357.60,130234.90,249246.60,338689.00,165100.00,NaN,72108.60,656651.00,33713.95,NaN,61334.86,20115.06
12,2012.0,1253231.00,1404017.00,110694.80,256156.40,126777.51,258913.00,352419.00,161600.00,NaN,82122.44,646347.00,34132.00,35785.0,73235.10,21382.40
13,2013.0,1294690.31,1484039.70,116163.30,267698.50,123224.69,265465.81,354463.00,163180.00,NaN,89074.86,660489.00,36011.64,NaN,82797.00,23346.01
14,2014.0,1340689.00,1524280.30,118183.00,276583.80,122235.39,271772.27,351923.00,161982.00,NaN,89657.26,682935.00,36647.30,NaN,83710.00,23571.90
15,2015.0,1370627.27,1619027.70,125875.00,284483.00,122437.00,277631.50,387982.00,162960.00,NaN,95160.76,662071.00,39182.14,43740.0,83488.00,26159.40
16,2016.0,1373550.67,1692175.80,133706.00,288922.00,126633.39,285488.00,399605.00,158980.00,NaN,100158.00,665566.00,39207.45,NaN,87612.00,27656.20
17,2017.0,1435904.51,1740442.20,140378.00,295934.00,133213.19,295754.00,419617.00,158890.00,NaN,111893.00,676292.00,38898.16,46088.0,91023.00,29515.22
18,2018.0,1554899.56,1866108.80,152522.60,305794.50,140120.10,305243.45,433685.04,NaN,NaN,126249.14,678134.00,39272.39,NaN,95475.00,NaN
19,2019.0,NaN,2109459.80,160623.30,317472.00,143973.90,314100.88,449464.00,NaN,NaN,135514.84,681821.00,NaN,NaN,99096.00,NaN
75%,0.0,0.05,0.09,0.06,0.05,0.06,0.04,0.04,0.05,0.03,0.12,0.01,0.08,0.0,0.11,0.07

In [139]:
standard=[]
count=0
for column in df_merged_fin:
    count+=1
    serie=df_merged_fin[column]
    if count>1:
        if str(serie[19]) != 'nan':
            ris=round(serie[19]+serie[19]*serie['75%'],2)
            standard.append(ris)
        else:
            if count==10:
                ris=round(serie[10]+serie[10]*serie['75%'],2)
                standard.append(ris)
            if count==9 or count==14 or count==16:
                ris=round(serie[17]+serie[17]*serie['75%'],2)
                standard.append(ris)
            if count==2 or count==13:
                ris=round(serie[18]+serie[18]*serie['75%'],2)
                standard.append(ris)
        
standard

[1632644.54,
 2299311.18,
 170260.7,
 333345.6,
 152612.33,
 326664.92,
 467442.56,
 166834.5,
 103426.32,
 151776.62,
 688639.21,
 42414.18,
 46088.0,
 109996.56,
 31581.29]

In [140]:
#mancano dati di india brasile e company

In [141]:
countrycov_pub['FTE_researchers']=standard
countrycov_pub

           Country  Principal_Author  Funding_country    Sum  FTE_researchers
0    United States             20406            20779  41185       1632644.54
1            China              9983            10089  20072       2299311.18
2            Italy              6420             6385  12805        170260.70
3   United Kingdom              5526             5386  10912        333345.60
4            Spain              2543             2539   5082        152612.33
5           France              2312             2315   4627        326664.92
6          Germany              2111             2133   4244        467442.56
7           Canada              1735             1759   3494        166834.50
8        Australia              1193             1220   2413        103426.32
9           Turkey              1018             1000   2018        151776.62
10           Japan               960              999   1959        688639.21
11       Singapore               738              744   1482         42414.18
12     Switzerland               713              748   1461         46088.00
13     Netherlands               678              683   1361        109996.56
14    South Africa               606              606   1212         31581.29

In [142]:
stand=[]
for index,row in countrycov_pub.iterrows():
    val=round(row['Sum']*1000/row['FTE_researchers'],3) #moltiplico per 100 per avere migliore risultato alla fine
    stand.append(val)
countrycov_pub['st_value']=stand
countrycov_pub
#ordinamento per valore assoluto

,Country,Principal_Author,Funding_country,Sum,FTE_researchers,st_value
0,United States,20406,20779,41185,1632644.54,25.226
1,China,9983,10089,20072,2299311.18,8.730
2,Italy,6420,6385,12805,170260.70,75.208
3,United Kingdom,5526,5386,10912,333345.60,32.735
4,Spain,2543,2539,5082,152612.33,33.300
5,France,2312,2315,4627,326664.92,14.164
6,Germany,2111,2133,4244,467442.56,9.079
7,Canada,1735,1759,3494,166834.50,20.943
8,Australia,1193,1220,2413,103426.32,23.331
9,Turkey,1018,1000,2018,151776.62,13.296
10,Japan,960,999,1959,688639.21,2.845
11,Singapore,738,744,1482,42414.18,34.941
12,Switzerland,713,748,1461,46088.00,31.700
13,Netherlands,678,683,1361,109996.56,12.373
14,South Africa,606,606,1212,31581.29,38.377

In [143]:
countrycov_pub.sort_values(by=['st_value'],ascending=False)
#valori standardizzati, ordine per chi ha fatto di più con quanto aveva a disposizione

,Country,Principal_Author,Funding_country,Sum,FTE_researchers,st_value
2,Italy,6420,6385,12805,170260.70,75.208
14,South Africa,606,606,1212,31581.29,38.377
11,Singapore,738,744,1482,42414.18,34.941
4,Spain,2543,2539,5082,152612.33,33.300
3,United Kingdom,5526,5386,10912,333345.60,32.735
12,Switzerland,713,748,1461,46088.00,31.700
0,United States,20406,20779,41185,1632644.54,25.226
8,Australia,1193,1220,2413,103426.32,23.331
7,Canada,1735,1759,3494,166834.50,20.943
5,France,2312,2315,4627,326664.92,14.164
9,Turkey,1018,1000,2018,151776.62,13.296
13,Netherlands,678,683,1361,109996.56,12.373
6,Germany,2111,2133,4244,467442.56,9.079
1,China,9983,10089,20072,2299311.18,8.730
10,Japan,960,999,1959,688639.21,2.845

In [144]:
#PERCENTUALE PUBBLICAZIONI TOTALI

In [145]:
tot= 72800 - esclusi
tot # totale pubblicazioni dalle quale siamo riusciti ad ottenere dati sul paese ( circa il 91% delle pubb totali)

70042

In [146]:
PA=countrycov_pub['Principal_Author'].tolist()
prin_aut=[]
for element in  PA:
    prin_aut.append(round(element*100/tot,2))
countrycov_pub['pct_prin_auth']=prin_aut
#countrycov_pub

In [147]:
FC=countrycov_pub['Funding_country'].tolist()
fun_cou=[]
for element in  FC:
    fun_cou.append(round(element*100/tot,2))
countrycov_pub['pct_fun_cou']=fun_cou
#countrycov_pub

In [148]:
somma=countrycov_pub['Sum'].tolist()
som=[]
for element in somma:
    som.append(round(element*50/tot,2))
countrycov_pub['pct_sum']=som
countrycov_pub

,Country,Principal_Author,Funding_country,Sum,FTE_researchers,st_value,pct_prin_auth,pct_fun_cou,pct_sum
0,United States,20406,20779,41185,1632644.54,25.226,29.13,29.67,29.40
1,China,9983,10089,20072,2299311.18,8.730,14.25,14.40,14.33
2,Italy,6420,6385,12805,170260.70,75.208,9.17,9.12,9.14
3,United Kingdom,5526,5386,10912,333345.60,32.735,7.89,7.69,7.79
4,Spain,2543,2539,5082,152612.33,33.300,3.63,3.62,3.63
5,France,2312,2315,4627,326664.92,14.164,3.30,3.31,3.30
6,Germany,2111,2133,4244,467442.56,9.079,3.01,3.05,3.03
7,Canada,1735,1759,3494,166834.50,20.943,2.48,2.51,2.49
8,Australia,1193,1220,2413,103426.32,23.331,1.70,1.74,1.72
9,Turkey,1018,1000,2018,151776.62,13.296,1.45,1.43,1.44
10,Japan,960,999,1959,688639.21,2.845,1.37,1.43,1.40
11,Singapore,738,744,1482,42414.18,34.941,1.05,1.06,1.06
12,Switzerland,713,748,1461,46088.00,31.700,1.02,1.07,1.04
13,Netherlands,678,683,1361,109996.56,12.373,0.97,0.98,0.97
14,South Africa,606,606,1212,31581.29,38.377,0.87,0.87,0.87

In [149]:
countrycov_pub

,Country,Principal_Author,Funding_country,Sum,FTE_researchers,st_value,pct_prin_auth,pct_fun_cou,pct_sum
0,United States,20406,20779,41185,1632644.54,25.226,29.13,29.67,29.40
1,China,9983,10089,20072,2299311.18,8.730,14.25,14.40,14.33
2,Italy,6420,6385,12805,170260.70,75.208,9.17,9.12,9.14
3,United Kingdom,5526,5386,10912,333345.60,32.735,7.89,7.69,7.79
4,Spain,2543,2539,5082,152612.33,33.300,3.63,3.62,3.63
5,France,2312,2315,4627,326664.92,14.164,3.30,3.31,3.30
6,Germany,2111,2133,4244,467442.56,9.079,3.01,3.05,3.03
7,Canada,1735,1759,3494,166834.50,20.943,2.48,2.51,2.49
8,Australia,1193,1220,2413,103426.32,23.331,1.70,1.74,1.72
9,Turkey,1018,1000,2018,151776.62,13.296,1.45,1.43,1.44
10,Japan,960,999,1959,688639.21,2.845,1.37,1.43,1.40
11,Singapore,738,744,1482,42414.18,34.941,1.05,1.06,1.06
12,Switzerland,713,748,1461,46088.00,31.700,1.02,1.07,1.04
13,Netherlands,678,683,1361,109996.56,12.373,0.97,0.98,0.97
14,South Africa,606,606,1212,31581.29,38.377,0.87,0.87,0.87

In [150]:
countrycov_pub=countrycov_pub.drop([8,9,12,14],axis=0).reset_index()
countrycov_pub=countrycov_pub.drop('index',axis=1)
countrycov_pub

,Country,Principal_Author,Funding_country,Sum,FTE_researchers,st_value,pct_prin_auth,pct_fun_cou,pct_sum
0,United States,20406,20779,41185,1632644.54,25.226,29.13,29.67,29.40
1,China,9983,10089,20072,2299311.18,8.730,14.25,14.40,14.33
2,Italy,6420,6385,12805,170260.70,75.208,9.17,9.12,9.14
3,United Kingdom,5526,5386,10912,333345.60,32.735,7.89,7.69,7.79
4,Spain,2543,2539,5082,152612.33,33.300,3.63,3.62,3.63
5,France,2312,2315,4627,326664.92,14.164,3.30,3.31,3.30
6,Germany,2111,2133,4244,467442.56,9.079,3.01,3.05,3.03
7,Canada,1735,1759,3494,166834.50,20.943,2.48,2.51,2.49
8,Japan,960,999,1959,688639.21,2.845,1.37,1.43,1.40
9,Singapore,738,744,1482,42414.18,34.941,1.05,1.06,1.06
10,Netherlands,678,683,1361,109996.56,12.373,0.97,0.98,0.97

In [151]:
countrycov_pub.to_csv("covid_statistics.csv")